.wrapper {
  display: grid;
  justify-items: center;
  color: white;
}

.table {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 0;
  border-collapse: separate;
  border-spacing: 0 1em;
}

/*pagination styles*/

.wrapper ul {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
}

.pagination {
  display: flex;
  width: 95%;
  height: 40px;
  list-style: none;
  justify-content: flex-end;
}

.pagination a {
  padding: 5px 10px 5px 10px;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #E44B05;
}

.pagination a:hover {
  background-color: #D54605;
}

.pagination a:focus {
  outline: none;
}

.paginationActive a {
  background-color: #D54605;
}

